<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "cardiv" style = "border: 3px solid red; padding: 0px; margin: 2px 0px;">
                  <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <h3><strong><%= i.name.upcase %></strong></h3>
                    </div>  
                     <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <p><%= link_to 'View Dealer Page and Inventory', userpage_path(:id => "#{i.id}", :name => "#{i.name.gsub(" ", "")}") , class: "btn btn-danger btn-xs", style: "border: #e20049", target: :_blank %></p>
                    </div>   
                </div>