<h1 style = "text-align: center; margin: 5px 5px; color: black">
	For CSV Upload Please Follow The Following Requirements For Attributes With Headers In Lowercase
</h1>
<h1 style = "text-align: center; margin: 5px 5px; color: black"> OR </h1>
<h1 style = "text-align: center; margin: 5px 5px; color: black">
  Use Our <a href = "https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/premiumtestadminimport.csv">Template</a>
</h1>

<hr />
<br>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;border:none;}
.tg td{font-family:Arial, sans-serif;text-align: center; font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;text-align: center;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#ffcc00;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
<tr>
    <th class="tg-yw4l">Attribute name (Use lowercase and same names in your CSV header)</th>
    <th class="tg-yw4l">Meaning of each attributes</th>
    <th class="tg-yw4l"></th>
  </tr>

  <tr>
    <td class="tg-yw4l">title</td>
    <td class="tg-yw4l">Title of your listing</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">description</td>
    <td class="tg-yw4l">Description</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">category</td>
    <td class="tg-yw4l">Specify a vehicle category code (Download <a href = "https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/categories.csv"> Our CSV </a> to know the codes for each category)</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">subcategory</td>
    <td class="tg-yw4l">Specify a vehicle sub-category code (Download <a href = "https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/subcategories.csv"> Our CSV </a> to know the codes for each subcategory)</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">city</td>
    <td class="tg-yw4l">City of vehicle location</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">state</td>
    <td class="tg-yw4l">State of vehicle location</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">zipcode</td>
    <td class="tg-yw4l">Zipcode</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">latitude</td>
    <td class="tg-yw4l">You can specify or leave it blank</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">longitude</td>
    <td class="tg-yw4l">You can specify or leave it blank</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">image</td>
    <td class="tg-yw4l">Specify the URL</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">year</td>
    <td class="tg-yw4l">vehicle Year</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">miles</td>
    <td class="tg-yw4l">Total Mileage</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">transmission</td>
    <td class="tg-yw4l">Use Drop Down to view our selection or add new</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">color</td>
    <td class="tg-yw4l">Specify Exterior Color</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">cylinder</td>
    <td class="tg-yw4l">Use Drop Down to view our selection or add new</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">fuel</td>
    <td class="tg-yw4l">Use Drop Down to view our selection or add new</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">drive</td>
    <td class="tg-yw4l">Use Drop Down to view our selection or add new</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">address</td>
    <td class="tg-yw4l">Specify exact Car Location for people to search nearby</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">wholesale</td>
    <td class="tg-yw4l">Specify whether its a wholesale listing or for consumers (See above drop down for choices)</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">price</td>
    <td class="tg-yw4l">We prefer you specify a price</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">newused</td>
    <td class="tg-yw4l">Choose between N or U</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">vin</td>
    <td class="tg-yw4l">The vehicle indentifier: Vehicle Identification Number </td>    
  </tr>
  <tr>
    <td class="tg-yw4l">stocknumber</td>
    <td class="tg-yw4l">We prefer you specify the stocknumber</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">model</td>
    <td class="tg-yw4l">We prefer you specify a vehicle model</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">trim</td>
    <td class="tg-yw4l">Please specify a trim</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">enginedescription</td>
    <td class="tg-yw4l">Describe the engine</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">interiorcolor</td>
    <td class="tg-yw4l">Interior Color</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">options</td>
    <td class="tg-yw4l">Other options</td>
    <td class="tg-yw4l"></td>
  </tr>
</table>