<% if user.leads2dealscustomer %>

<h6 class="row text-center" style = "font-size: 2em;text-align: left;color: #e20049;"><strong>CLICK IMAGE BELOW TO CLIAIM COUPON</strong></h6>

	<div class="col-md-12 text-center" style = "margin-top: 1em;">
	      <a href="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/" download="coup5.png"><img src="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/coup5thumb.jpg"  style="width:50%;height:20%;" /></a>
	</div>

<% end %>