<% if user.leads2dealscustomer %>

	<div class="col-md-12 text-center" style = "margin-top: 1em;">
		<p style = "display: inline;margin: 0px 5px;"><%= image_tag "https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/coupo1.png", :size => "100x50" %></p>

	      <a href="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/" download="coup2.png"><img src="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/coupo1.png" /></a>
	</div>

<% end %>