<% if user.leads2dealscustomer %>
	<div class="col-md-12 text-center" style = "margin-top: 1em;">
		<h6 class="text-center" style = "font-size: 2em;text-align: left;color: #e20049;"><strong>CLICK IMAGE BELOW TO CLAIM COUPON</strong></h6>
	      <a href="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/coup5.png" download="coup5.png"><img src="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/coup5thumb.jpg"  style="width:50%;height:20%;" /></a>
	</div>

<% end %>