<% if user.leads2dealscustomer %>

 <p style ="margin: 1px;font-size: 0.9em; color: #7C064D;" ><span class="glyphicon glyphicon-fire"></span></span>CLICK IMAGE BELOW TO CLAIM COUPON</p> 

	<div class="col-md-12 text-center" style = "margin-top: 1em;">
	      <a href="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/" download="coup5.png"><img src="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/coup5thumb.jpg"  style="width:50%;height:20%;" /></a>
	</div>

<% end %>