<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "cardiv" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 0px; margin: 2px 0px;">
                  <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <h3><strong><%= i.name.upcase %></strong></h3>
                    </div>                    
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <p style = "display: inline;"><strong><span class="glyphicon glyphicon-certificate"></span><strong> WACBAC Rating: <%= get_rating_in_star(Review.get_average_rating(i.id)) %>  </strong></p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <p ><strong><span class="glyphicon glyphicon-pushpin"></span><strong> Address: <%= i.city_state %>  </strong></p>
                    </div>     
                     <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <p><%= link_to 'View Dealer Page and Inventory', userpage_path(:id => "#{i.slug}")   , class: "btn btn-danger btn-xs", style: "border: #e20049", target: :_blank %></p>
                    </div>
                </div>