<% if (current_user.role.eql? "premium") or (current_user.role.eql? "repairshop") %>
	<div class="container">
	  <div id="contact-area">
	  <h1 style = "text-align: center; margin: 5px 5px">
	    ENTER YOUR REPAIR SHOP DETAILS
	   </h1>

	<%= render 'form' %>

	<p style = "text-align: center;"><%= link_to 'Back', repairshops_path %></p>
	</div>
	</div>
<%end%>



