 <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0 10px; background-color: white;">

  

      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0; margin: 0 auto;">
              <div class = "col-md-6 col-sm-12 col-lg-6 col-xs-12" style = "padding: 0;height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 2px;">
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: #51BCFF; color:white;">
                  <h3><strong>Showcase Dealership Inventory and Repairshops</strong></h3>
                </div>

                <div class = "col-sm-12 col-md-12 col-lg-12">
                  <h6><strong>Showcase your dealership inventory or repairshop and connect with shoppers through our carefully crafted solutions</strong></h6>    
                  <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/icons/006-cart.png", :alt => "rss feed", :size => "60x60", :style => "margin: 1em auto;") %>          
                </div>


              </div>
                        
              <div class = "col-md-6 col-sm-12 col-lg-6 col-xs-12" style = "padding: 0;height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 2px;">
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: blue; color:white;">
                  <h3><strong>Advertise To High Value Buyers</strong></h3>

                </div>

                <div class = "col-sm-12 col-md-12 col-lg-12">
                  <h6><strong>Use our platform to effectively advertise your vehicles and repairshop directly to high value customers on the web and social media</strong></h6> 
                  <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/icons/003-megaphone.png", :alt => "rss feed", :size => "60x60", :style => "margin: 1em auto;") %>              
                </div>
              </div>

              <div class = "col-md-6 col-sm-12 col-lg-6 col-xs-12" style = "padding: 0;height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 2px;">
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: grey; color:white;">
                  <h3><strong>Manage Leads and Use Retargeting</strong></h3>

                </div>

                <div class = "col-sm-12 col-md-12 col-lg-12">
                  <h6><strong>Manage leads from prospective customers through our lead generation and management console</strong></h6> 
                  <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/icons/009-pie-chart-1.png", :alt => "rss feed", :size => "60x60", :style => "margin: 1em auto;") %>              
                </div>
              </div>  

              <div class = "col-md-6 col-sm-12 col-lg-6 col-xs-12" style = "padding: 0;height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 2px;">
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: purple; color:white;">
                  <h3><strong>Market Your Brand on Web and Social Media</strong></h3>

                </div>

                <div class = "col-sm-12 col-md-12 col-lg-12">
                  <h6><strong>Let our reputation management team help improve your web and social media brand recognition and trust factor</strong></h6>              
                  <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/icons/014-graph.png", :alt => "rss feed", :size => "60x60", :style => "margin: 1em auto;") %> 
                </div>
              </div>  
              
      </div>
    
  </div>