 <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 10px; margin-top: 1em; background-color: white;">

      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0; margin: 0 auto;">
              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12" style = "padding: 0;height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); padding: 1px;">
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: #51BCFF;; color:white;">
                  <h3><strong>TDC Leads 2 Deals</strong></h3>
                </div>

                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: #white; color:black;">
                  <h6><strong>With TDC Leads 2 Deals, Our Team gathers warm leads fron multiple sources and sends them to your dealership. <br>Best part, Pay only for the Deal not the Lead! </strong></h6>    
                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/icons/007-graphic.png", :alt => "rss feed", :size => "60x60", :style => "margin: 1em auto;") %>          
                </div>

              </div>
                        
              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12" style = "padding: 0;height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 1px;">
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: purple; color:white;">
                  <h3><strong>TDC Financing</strong></h3>

                </div>

                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: #white; color:black;">
                  <h6><strong>TDC Financing offers a broad range of F&I solutions designed to fit seamlessly with dealerships of any size with one goal in mind, to maximize your dealership profitability.</strong></h6>    
                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/icons/012-change.png", :alt => "rss feed", :size => "60x60", :style => "margin: 1em auto;") %>          
                </div>
              </div>

              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12" style = "padding: 0;height: 300px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 1px;">
                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: blue; color:white;">
                  <h3><strong>Reputation Management</strong></h3>

                </div>

                <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: #white; color:black;">
                  <h6><strong>Our Reputation Management Team works with you to manage your brand recognition. We employ alogorithmic customer targeting to increase the trust factor for your new customers</strong></h6>    
                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/icons/005-sign.png", :alt => "rss feed", :size => "60x60", :style => "margin: 1em auto;") %>          
                </div>
              </div>  
              
      </div>
    
  </div>