 <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">

      <div class = "w3-panel w3-card" style = "padding: 10px 0; margin: 0 auto;">
              <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <h1 style = "font-size: 80px; color: #7C064D; margin-bottom: 20px;"><strong>OUR PACKAGES</strong></h1>
              </div>

              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12">
                <div class = "w3-panel w3-card-2 package" style = "overflow-y: scroll; height: 500px;">
                  <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: grey; padding: 0px; color: white;">
                        <h3>BASIC DEALER PACKAGE</h3>                    
                      </div>
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <h4>FREE!</h4>
                        <hr>
                        <p>Best for selling cars in bulk</p>
                        <hr>
                        <p>We handle your car uploading</p>     
                        <hr>
                        <p>Email Communication for your intrested customers</p>              
                        <hr>
                        <p>Showcase your listing to buyers around you</p>
                        <hr>                      
                      </div>
                  </div>
                </div>
              </div>

              
              

              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12">
                <div class = "w3-panel w3-card-2 package" style = "overflow-y: scroll; height: 500px;">
                  <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: black; padding: 0px; color: white;">
                        <h3>BASIC REPAIRSHOP PACKAGE</h3>                    
                      </div>
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <h4>FREE!</h4>
                        <hr>
                        <p>Add 1 repairshop or service center</p>
                        <hr>
                        <p>Email Communication for your intrested customers</p>              
                        <hr>
                        <p>Show your repairshop in searches based on service your provide</p>
                      </div>
                  </div>
                </div>
              </div>

              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12">
                <div class = "w3-panel w3-card-2 package" style = "overflow-y: scroll; height: 500px;">
                  <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: blue; padding: 0px; color: white;">
                        <h3>SILVER DEALER PACKAGE</h3>                    
                      </div>
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <h4>STARTING AT $99/MONTH</h4>                                                
                        <p style = "color: blue;">(After 1 Month Free Access)</p>
                        <hr>
                        <p>Bulk postings of any number of vehicles</p>                    
                        <hr>
                        <p>Access Wholesale market</p>
                        <hr>
                        <p>Add vehicles for wholesale or normal customers</p>
                        <hr>
                        <p>Show your listings in search results</p>
                        <hr>
                        <p>Add new offers for season sales</p>    
                        <hr>
                        <p>Showcase your address and contact details</p>                 
                      </div>
                  </div>
                </div>
              </div>                                
              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12">
                <div class = "w3-panel w3-card-2 package" style = "overflow-y: scroll; height: 500px;">
                  <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: blue; padding: 0px; color: white;">
                        <h3>GOLD DEALER PACKAGE</h3>                    
                      </div>
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <h4>STARTING AT $199/MONTH</h4>                                                
                        <p style = "color: blue;">(After 1 Month Free Access)</p>
                        <hr>
                        <p>Bulk postings of any number of vehicles</p>                    
                        <hr>
                        <p>Access Wholesale market</p>
                        <hr>
                        <p>Add vehicles for wholesale or normal customers</p>
                        <hr>
                        <p>Show your listings in search results</p>
                        <hr>
                        <p>Add new offers for season sales</p>    
                        <hr>
                        <p>Showcase your address and contact details</p>                 
                      </div>
                  </div>
                </div>
              </div>  
              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12">
                <div class = "w3-panel w3-card-2 package" style = "overflow-y: scroll; height: 500px;">
                  <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: red; padding: 0px; color: white;">
                        <h3>DIAMOND DEALER PACKAGE</h3>                    
                      </div>
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <h4>STARTING AT $299/MONTH </h4> 
                        <p style = "color: red;">(Upgrade available after payment)</p>
                        <hr>
                        <p>Showcase your listings on our homepage</p>
                        <hr>
                        <p>Be among the top featured search results</p>
                        <hr>
                        <p>Add vehicles for wholesale or normal customers</p>
                        <hr>
                        <p>Get Automated Emails and Text Messages for car inquiries</p>
                        <hr>
                        <p>Get leads for new searches matching your inventory</p>
                        <hr>
                        <p>Access Wholesale market sellers and listings</p>
                        <hr>
                        <p>Show your listings in search results</p>                      
                        <hr>
                        <p>Add repairshops and service centers</p>
                        <hr>
                        <p>Add new offers and coupons for season sales advertised on top</p>  
                        <hr>
                        <p>Showcase your address, website and contact details</p>
                        <hr>
                        <p>Provide users functionality to find your shop directly in google map</p>
                        <hr>
                                           
                      </div>
                  </div>
                </div>
              </div> 
              <div class = "col-md-4 col-sm-12 col-lg-4 col-xs-12">
                <div class = "w3-panel w3-card-2 package" style = "overflow-y: scroll; height: 500px;">
                  <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: cyan; padding: 0px; color: white;">
                        <h3>SILVER REPAIRSHOP PACKAGE</h3>
                      </div>

                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <h4>STARTING AT $99/MONTH</h4> 
                        <p style = "color: cyan;">(Upgrade available after payment)</p>
                        <hr>
                        <p>Feature your repairshop on our homepage</p>
                        <hr>
                        <p>Be among the top featured search results</p>
                        <hr>
                        <p>Add multiple repairshops</p>
                        <hr>
                        <p>Get Leads from customer matching your services</p>
                        <hr>
                        <p>Get Automated Emails and Text Messages for service inquiries</p>
                        <hr>
                        <p>Add coupons for your customers</p>                      
                      </div>
                  </div>
                </div>
              </div>
      </div>
    
  </div>