<div class="container2">
<div class="center-column" id="right-center-column2" >
  <div id="contact-area">  
  <h1>ABOUT US</h1>
  
    <h2> Our mission at WantaCarBuyaCar.com is to be your ultimate online solution for buying and selling new, certified and used cars. Our site is designed to give you more control of the buying process and make finding a vehicle easier than ever before. Whether you’re shopping for a new, certified or used car, our website offers you these benefits:
    </h2>
    <p>
        <li>
        The largest selection of vehicle inventory from dealers and private sellers
        </li>
        <li>
        The most comprehensive selection of buying and selling tips
        </li>
        <li>
        The most complete research and compare tools, including reviews, photos, videos and more
        </li>
        <li>
        Vehicle pricing, including seller specials and dealer discounts
        </li>
        <li>
        Safety information and vehicle history reports
        </li>
        <li>
        Help with finance, insurance and warranty programs
        </li>
        <li>
        Not sure which type of car you want? That’s okay. WantaCarBuyaCar.com lets you research and compare new, certified and used cars by searching for body type, mileage, price and numerous other criteria.
        </li>
        <li>
        Our Lifestyle Centers allow you to locate vehicles that meet your needs and compare them side by side.
        </li>
    </p>
    </div>
</div>
</div>
