<div class ="col-xs-12 col-sm-12 text-center herodiv " >

<%= image_tag("wacbac2.png", :alt => "rss feed", :size => "350x120", :style => "margin: 5em auto; padding: 1px") %>
  

  <h1 style = "color: white; margin:1em ;vertical-align:middle;"><strong>ABOUT US</strong></h1>



  <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center; margin-top: 20px;">


    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" style = " padding: 10px; margin: 2px 0px; background-color: rgba(255,255,255,1);">

        <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0; margin: 20px auto;">
                    <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
                          <h3 style = "color: purple;"><strong><%= "Our mission is to be your ultimate online solution for buying and selling new, certified and used vehicles".upcase %></strong></h3>
                        <br>
                          <h6 style = "color: #57bc90;"><strong>Our site is designed to give you more control of the buying process and make finding a vehicle easier than ever before.</strong></h6>    
                        <br>
                          <h6><strong>Whether you’re shopping for a new, certified or used car, our website offers you these benefits:</strong></h6> 
                    </div>

                    <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12" style= "margin: 50px 0px;">

                      <div class = "col-md-6 col-sm-6 col-lg-6 col-xs-12 text-left" >
                          <ul> 
                              <li>The largest selection of vehicle inventory from dealers and private sellers</li>
                              <li>The largest selection of vehicle inventory from dealers and private sellers</li>
                              <li>The most complete research and compare tools, including reviews, photos, videos and more</li>
                              <li>The most comprehensive selection of buying and selling tips</li>          
                          </ul>
                      </div>

                      <div class = "col-md-6 col-sm-6 col-lg-6 col-xs-12 text-left" >
                          <ul>                               
                              <li>Vehicle pricing, including seller specials and dealer discounts</li>
                              <li>Help with finance, insurance and warranty programs</li>
                              <li>Safety information and vehicle history reports</li>
                              <li>Not sure which type of car you want? That’s okay. WantaCarBuyaCar.com lets you research and compare new, certified and used cars by searching for body type, mileage, price and numerous other criteria.</li>
                          </ul>
                      </div>
                    </div>

        </div>

    



    </div>


  </div>



</div>
