<div class="container">
    <div class="center-column" id="right-center-column2" >
      <div id="contact-area">  
            <h1>CONTACT US</h1>    
            <p>
             If you have a question feel free to call us at the number below. 
             <br>
             Our Customer Sales Representatives look forward to helping you with your dream vehicle!
            </p>
             <a href="mailto:thedealerschoice@yahoo.com" style = "text-decoration: none" target="_top"><h2>Drop A Mail</h2></a>
             <h2>OR</h2>
            <a href="tel:866-338-7870" style = "text-decoration: none"><h2>Click To Call +1-866-338-7870</h2></a>            
        </div>
    </div>
</div>
