<div class="container2">
<div class="center-column" id="right-center-column2" >
  <div id="contact-area">  
  <h1>Terms And Policies</h1>

    <h2>Terms</h2>
    <p> Welcome to TDCAutoAuction! By using the services on this website, you are agreeing to the following terms. The access and contents of this site is limited to the residents of the fifty states of the United States of America. International access is prohibited at all times.

    Before becoming a member of TDCAutoAuction, you must read and accept all of the terms and conditions in this User Agreement. While using this site, you will not sell vehicles that do not belong to you or your dealership; violate any laws, third party rights; fail to deliver items awarded by you; circumvent or manipulate our fee structure and/or billing process; transfer your TDCAutoAuction account to another party without our consent; copy, modify or distribute content from this site and its trademarks and copyrights or harvest or otherwise collect information about users including their email and mailing addresses without their consent.

    You agree that this web-site, in its own discretion, may terminate any auction or use of the service immediately and without notice if (a) We believe that you are not abiding by the general rules of this web-site (b) You have repeatedly broken a certain term (c) You have listed a suspicious item (d) We believe you to be a non paying bidder. In most cases when we suspect foul play we will suspend your account/listing whilst we investigate further. If our investigation is conclusive then your account with us will be terminated. 

    You are solely responsible for the contents of your actions through this web-site. You must ensure that your participation in the selling or buying of items does not violate any applicable laws or regulations. By this we mean that you must check that you entitled to sell or buy the relevant item and that you are not prohibited from doing so by any law or regulation.

    You must not transmit through the service any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene or otherwise objectionable material. You must also not transmit any material that encourages conduct that could constitute a criminal offence, give rise to civil liability or otherwise violate any applicable law or regulation.

    Membership to this web-site is only available to those you can form a legally binding contract. This web-site does not permit minors (under 16) to register. If any member fails to signup with their correct age the account will be terminated immediately.

    This site acts as the window for sellers to conduct auctions and for bidders to bid on sellers' auctions. We are not involved in the actual transaction between buyers and sellers. As a result, we have no control over the quality, safety or legality of the items listed the truth or accuracy of the listings, the ability of sellers to sell items or the ability of buyers to buy items. We cannot and do not control whether or not sellers will complete the sale of items they offer or buyers will complete the purchases of items they have bid on. In addition, note that there are risks of dealing with foreign nationals, underage persons or people acting under false pretence.

    This Web-site shall not be responsible for any items sold by Auction, for any damage to items during transit or during the inspection period, nor for misrepresentations and/or breaches of contract by either buyer and/or seller. This web-site shall not be responsible for the cost of procurement of substitute goods or any losses resulting from any goods purchased or obtained.
    This web-site assumes no liability for the content of the listings. However if you fall victim of a fraudulent transaction we will assist you as much as we can.

    This Agreement is effective starting on January 1st, 2017, for current users, and upon acceptance for new users. We may amend this Agreement at any time by posting the amended terms on the Sites. Except as stated elsewhere, all amended terms shall automatically be effective 30 days after they are initially posted on the Sites.

    This website (the “Site“) is operated by The Dealer’s Choice. This Privacy Statement (the “Statement”) describes The Dealer’s Choice’s collection, use and disclosure of information practices in connection with the Site. This Statement applies to the national version of the Site, located at www.WantaCarBuyaCar.com, as well as to any versions of the Site that The Dealer’s Choice operates, including versions or pages that The Dealer’s Choice co-brands or private labels with its newspaper and broadcast affiliates, third-party distribution partners and other partners (collectively, “Affiliates“). For example, you may have arrived at a co-branded version of the Site from an Affiliate’s website, in which case, that Affiliate will be clearly identified at the top of the home page of this Site. In this Statement, The Dealer’s Choice refers to those versions of the Site as “Affiliate Versions.” Please be aware that The Dealer’s Choice may share any information you submit through this Site with Affiliates, as described below. During your visit to any Affiliate Version, the Affiliate may independently collect other information from you.<br>

    For purposes of clarification, this Statement also describes The Dealer’s Choices collection, use, and disclosure practices with respect to any personally identifiable information and Usage Data (as defined below) that is provided to The Dealer’s Choice by any of its third-party distribution partners that display The Dealer’s Choice vehicle listings.<br>

    This Statement does not describe The Dealer’s Choice’s collection, use and disclosure of information through means other than this Site (e.g., off-line) or the collection, use and disclosure practices of any Affiliate or other third parties. For information on a third party’s information collection, use and disclosure practices, please review the privacy policy on the applicable third party’s website. Also, please note that this Site contains links to other websites. The Dealer’s Choice is not responsible for the websites, content or privacy practices of any third party. By using this Site, you acknowledge that you have read this Statement and agree that you are subject to the The Dealer’s Choice Terms of Service.<br>
    </p>
</div>
</div>
</div>