<div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: #fff;min-height: 700px;">


  <div class = "col-md-3 col-xs-0 col-lg-3 col-sm-0">
  </div>

  <div class = "col-md-6 col-xs-12 col-lg-6 col-sm-12" style = "text-align: center;">   
  
    <p style = "font-size: 80px; color: #7C064D; margin-bottom: 50px;"><strong>THANK YOU FOR SIGNING UP!</strong></p>

    <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12"> 

      <div class = "col-md-6 col-xs-12 col-lg-6 col-sm-12"> 
          <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/TDC.png", :alt => "Want A Car Buy A Car", :size => "250x250") %>
      </div>

      <div class = "col-md-6 col-xs-12 col-lg-6 col-sm-12"> 
        <p>As our priority customer, our operations team will handle your inventory management, listing maintainance and lead generations</p> 
        <hr>   
        <p>A dedicated member from our team will contact you very soon with respect to payments and your inventory needs inventory</p>
        <hr> 
        <p>For urgent matters, please contact us: Phone: +1 866-338-7870 Line 5, Email:sales@tdcdigitalmedia.com</p>
      </div> 
      
    </div>

  </div>

  <div class = "col-md-3 col-xs-0 col-lg-3 col-sm-0">

  </div>


</div>
