.alert-box {
  color:white;
  border-radius:10px;
  font-family: 'Oswald', sans-serif;
  
  padding:10px 10px 10px 36px;
  margin:auto auto;
  background-color: red;
  span {
    font-weight:bold;
    text-transform:uppercase;
  }
}
.danger {
    background-color: red ;
  color: white;
}
.success {
    background-color: green;
  color: white;
}
.warning {
    background-color: red ;
  color: white;
}
.notice {
    background-color: skyblue ;
  color: white;
}
.alert{
 background-color: red ;
  color: white;
}
.notification{
  background-color: red ;
  color: white;
}
.notification.warning {
background-color: red ;
  color: white;
}
