<div class= "col-xs-12 col-sm-12 col-lg-3 col-md-12">
	 <a href="http://www.jdoqocy.com/click-8092960-12835129" target="_top">
	<img src="http://www.awltovhc.com/image-8092960-12835129" width="250" height="250" alt="" border="0"/></a>      
</div>

<div class= "col-xs-12 col-sm-12 col-lg-3 col-md-12">
                        <a href="https://acesecureapp.com/8NfoR?aff_sub_id=ap002455" rel="nofollow"><img src="https://acesecureapp.com/images/250x250a.jpg" border="0" /></a>
               
</div>

<div class= "col-xs-12 col-sm-12 col-lg-3 col-md-12">
	            <a href="https://acesecureapp.com/HpEl?aff_sub_id=ap002455" rel="nofollow"><img src="https://acesecureapp.com/images/gfx-250x250.png" border="0" /></a>
        

</div>

<div class= "col-xs-12 col-sm-12 col-lg-3 col-md-12">
	<a href="http://www.anrdoezrs.net/click-8092960-11350049" target="_top">
	<img src="http://www.tqlkg.com/image-8092960-11350049" width="250" height="250" alt="" border="0"/></a>
</div>




