<% if inquiry.senttoall %>
	<%= link_to '<span class="glyphicon glyphicon-fire" style = "color:yellow;"></span> Yes'.html_safe, 'javascript:;', :id => :foo , class: "btn btn-success btn-xs"  %>
<% else %>
	<%= link_to "No", 'javascript:;', :id => :foo , class: "btn btn-info btn-xs"  %>
<% end %>
