<p style = "text-align: left; font-size: 1em;display: inline;color: #e20049;"><span class="glyphicon glyphicon-star"></span></p>
<p style = "text-align: left; font-size: 1em;display: inline;color: #e20049;"><span class="glyphicon glyphicon-star-empty"></span></p>
<p style = "text-align: left; font-size: 1em;display: inline;color: #e20049;"><span class="glyphicon glyphicon-star-empty"></span></p>
<p style = "text-align: left; font-size: 1em;display: inline;color: #e20049;"><span class="glyphicon glyphicon-star-empty"></span></p>
<p style = "text-align: left; font-size: 1em;display: inline;color: #e20049;"><span class="glyphicon glyphicon-star-empty"></span></p>