<div class = "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "padding: 0px; margin: 0px; background-color: black;">
  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "background: #51BCFF; padding: 10px;">
    <h3 style = "color:#fff; text-align: center;"><strong>FIRST-TIME-REPAIRSHOPS AND SERVICE CENTERS - CLAIM YOUR LANDING PAGE FOR <span style = "color: #F00000">FREE!</span> - <%= link_to "CLICK TO REGISTER", new_new_dealer_contact_path, :style => "text-decoration: none;" %></strong></h3>
  </div>
</div>  
